<!DOCTYPE html>  
<html>
<head>
    <title>genero_detalhes_pagina</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>

<a href="http://localhost:3000" target="_self" rel="nofollow">Página inicial</a>
<h1>{{titulo}}</h1>
<br/>

<div>
    {{#if listaExiste}} 
        <div>
            <ul> <p style="color: blue;"><strong>Gênero:</strong></p>
                <li>
                    <p><strong>idGenero: </strong>{{generos._id}}</p> 
                    <p><strong>tipo_genero: </strong>{{generos.tipo_genero}}</p> 
                    <hr/ style="border: 1px solid red;"> 
                </li>
                <li>
                    <ul> <p style="color: blue;"><strong>Livros:</strong></p>
                        {{#each this.livros}}
                        <li>
                            <p><strong>idLivro: </strong>{{this._id}}</p> 
                            <p><strong>titulo: </strong>{{this.titulo}}</p> 
                            <p><strong>sumario: </strong>{{this.sumario}}</p> 
                            <p><strong>isbn: </strong>{{this.isbn}}</p> 
                        </li>
                        <li>
                            <ul> <p style="color: blue;"><strong>Autor:</strong></p>
                                <li>
                                    <p><strong>idAutor: </strong>{{this.autor._id}}</p> 
                                    <p><strong>primeiro_nome: </strong>{{this.autor.primeiro_nome}}</p> 
                                    <p><strong>familia_nome: </strong>{{this.autor.familia_nome}}</p> 
                                    <p><strong>data_de_nascimento: </strong>{{this.autor.data_de_nascimento}}</p> 
                                </li>
                            </ul>            
                        </li>
                        <hr/ style="border: 1px solid red;">                        
                        {{/each}}
                    </ul>            
                </li>                         
            </ul>    
        </div>
    {{else}}
        <div>
            <form action="/???/detalhar" method="post">  
                <label for="genero">Gênero: </label>
                <select name="???">
                    {{#each lista}}
                        <option value="{{this._id}}">{{this.tipo_genero}}</option>
                    {{/each}}
                </select> <br/>

                <button type="submit">Enviar</button> 
            </form>
        </div>
        <hr/ style="border: 1px solid blue;"> 
    {{/if}}
</div>

</body>
</html>

 